@media (max-width: 825px) {
  .OnlineLabel {
    display: none;
  }
}

@media (max-width: 650px) {
  .PlayerCount {
    display: none;
  }
  .PlayerCount.pc2 {
    display: flex;
  }

  .Airport {
    right: 50%;
    transform: translateX(50%);
    max-width: 420px;
  }
}

@media (max-width: 550px) {
  .Loading {
    top: calc(1rem + 48px + 8px);
  }
}
