@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");
@import "./variables";
@import "./mixins";
@import "./animations";

* {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;

  &::-webkit-scrollbar {
    border-radius: 10px;
    background-color: $border-color;
    width: 2px;
    overflow: hidden;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #757575;
    border-radius: 10px;
    width: 2px;
  }
}

body,
html {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
}

.Info {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #cccccc;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  z-index: 400;
}

.Hud {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
  z-index: 400;
  pointer-events: none;
  transition: 0.2s ease;
  opacity: 1;
  visibility: visible;
  &.Hidden {
    opacity: 0;
    visibility: hidden;
    & + .Info {
      opacity: 1;
      visibility: visible;
    }
  }
  * {
    pointer-events: all;
  }
}

#map {
  width: 100vw;
  height: 100vh;
}

.leaflet-container img[role="presentation"] {
  width: 257px !important;
  height: 257px !important;
}

.Tooltip {
  background-color: $background-color;
  /* backdrop-filter: blur(16px); */
  border-radius: 4px;
  border: 2px solid $border-color;
  width: 200px;
  box-shadow: none;
  padding: 0;
  &::before {
    display: none;
  }
}

.Name {
  font-size: 20px;
  color: $primary-color;
  display: inline-block;
  max-width: 85px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Callsign {
  display: flex;
  align-items: center;
  text-align: right;
  font-size: 14px;
  color: $secondary-color;
}

label {
  font-size: 14px;
  color: #757575;
  width: 100%;
  margin-bottom: -8px;
}

.Departure,
.Arrival {
  display: flex;
  flex-direction: column;
  color: $secondary-color;
  font-size: 18px;
  font-weight: 600;
}

.Arrival label {
  text-align: right;
  font-weight: 500;
}

.Main {
  padding: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
  &::after {
    content: "✈︎••••";
    position: absolute;
    top: calc(100% - 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 4px;
    color: $secondary-color;
    animation: animation 2s infinite;
  }
  &.Airport {
    .Row:first-child {
      margin-bottom: -8px;
    }
    .Name {
      max-width: 100%;
    }
    label {
      text-overflow: ellipsis;
      max-width: calc(200px - 16px);
      overflow: hidden;
    }
    &::after {
      display: none;
    }
  }
}

.Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Expand {
  @include flex-center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: $secondary-color;
  border-top: 2px solid $border-color;
  padding: 4px;
  font-weight: 500;
}

.PlayerCount {
  @include flex-center;
  @include box-styles;
  top: 1rem;
  right: 1rem;
  font-weight: 500;
  color: $primary-color;
  gap: 0.5rem;
  height: 48px;
}

.Search {
  @include box-styles;
  @include position-center;
  width: $width;
  top: 1rem;
  display: flex;
  align-items: center;
  height: 48px;
  color: #757575;
  background: unset;
  padding: unset;
  border: unset;
  .PlayerCount {
    position: static;
  }
  .InputWrapper {
    @include box-styles;
    position: unset;
    width: 100%;
    gap: 4px;
    display: flex;
    align-items: center;
    font-size: 24px;
    height: 48px;
  }
  &Results {
    &.Hidden {
      opacity: 0;
      visibility: hidden;
    }
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 4px;
    }
    opacity: 1;
    visibility: visible;
    @include box-styles;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;
    transition: 0.2s ease;
    max-height: calc(100svh - 48px - 2rem - 8px);
    overflow-y: auto;
    & .ResultRow {
      display: flex;
      gap: 8px;
      align-items: center;
      background-color: $background-color;
      transition: 0.2s ease;
      padding: 8px;
      border-radius: 4px;
      cursor: pointer;
      &:hover {
        background-color: #2a2a2a;
      }
      & .Img {
        height: 42px;
        img {
          border-radius: 4px;
        }
      }
      .Data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        &Title {
          font-weight: 500;
          font-size: 18px;
          color: $primary-color;
        }
        &Desc {
          font-weight: 500;
          font-size: 12px;
          color: $secondary-color;
        }
      }

      .AirportFlights {
        font-weight: 500;
        font-size: 12px;
        color: $secondary-color;
        white-space: nowrap;
      }
    }
  }
}

.AirportDetails {
  @include box-styles;
  top: calc(1rem + 48px + 8px);
  right: 1rem;
  width: $width;
  max-width: 300px;
  padding: 0;
  display: flex;
  max-height: calc(100svh - 56px - 2rem);
  flex-direction: column;
  transition: 0.2s ease;
  opacity: 1;
  visibility: visible;
  #flightCount {
    padding: 0px 8px 8px 8px;
    font-weight: 500;
    color: $secondary-color;
  }
  &.Hidden {
    opacity: 0;
    visibility: hidden;
  }
  &_Header {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
    .Img {
      overflow: hidden;
      border-radius: 4px;
      border: 2px solid $border-color;
      width: 40px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
  &_Code {
    font-size: 24px;
    font-weight: 500;
    color: $primary-color;
    margin-bottom: -4px;
  }
  &_Name {
    font-size: 12px;
    font-weight: 500;
    color: $secondary-color;
  }
  .Switch_Wrapper {
    padding: 0 8px;
  }
  .Switch {
    width: 100%;
    padding: 8px;
    background: #1f1f1f;
    border-radius: 6px;
    display: flex;
    gap: 8px;
    .Option {
      text-align: center;
      font-weight: 600;
      color: $secondary-color;
      background-color: #1f1f1f;
      border-radius: 4px;
      width: 100%;
      height: 24px;
      transition: 0.2s ease;
      cursor: pointer;
      &.Selected {
        background-color: #2a2a2a;
        color: $primary-color;
      }
    }
  }
  &_Content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &_Wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0 8px 8px 8px;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 4px;
    }
    &::-webkit-scrollbar {
      background-color: #1f1f1f;
    }
  }
  &_Item {
    background-color: #2a2a2a;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      background-color: lighten($color: #2a2a2a, $amount: 5);
    }
    &_Row {
      display: flex;
      gap: 8px;
      overflow-x: hidden;
    }
    &_Name {
      font-weight: 500;
      color: $primary-color;
      font-size: 16px;
      white-space: nowrap;
      max-width: 50%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &_Flight,
    &_Aircraft {
      border: 2px solid #555555;
      border-radius: 4px;
      padding: 1px 8px;
      font-size: 12px;
      color: $secondary-color;
      font-weight: 500;
    }
    &_Destination {
      color: #777777;
      font-size: 12px;
      span {
        color: #cccccc;
      }
    }
  }
}

.Search .PlayerCount.pc2 {
  display: none;
}

input {
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: $primary-color;
  font-size: 18px;
  font-weight: 500;
  &::placeholder {
    color: #757575;
  }
}

.Details {
  @include box-styles;
  @include position-center;
  transition: 0.25s ease;
  width: $width;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  bottom: 1rem;
  font-weight: 600;
  &.Hidden {
    bottom: calc(-500px - 100%);
  }
  .Header {
    width: 100%;
    max-width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
  }
  &-Small {
    @include box-styles;
    @include position-center;
    bottom: 1rem;
    transition: 0.2s ease;
    width: $width;

    padding: unset;
    &.Hidden {
      bottom: -100vh;
    }
    .Name {
      font-size: 24px;
      max-width: 100%;
    }
    .Callsign {
      font-size: 18px;
    }
    label {
      font-size: 16px;
    }
    .Waypoint {
      font-size: 24px;
    }
    .Main {
      &::after {
        font-size: 18px;
        letter-spacing: 10px;
      }
    }
    .Expand {
      cursor: pointer;
      padding: 0.5rem;
      font-size: 16px;
    }
  }
}

.Nickname-Wrapper {
  width: 100%;
  max-width: calc(100% - 40px);
  overflow: hidden;
}

#nickname {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 28px;
  line-height: 28px;
  color: $primary-color;
}

#callsign {
  font-size: 14px;
  line-height: 14px;
  color: $secondary-color;
}

#aircraft {
  color: $secondary-color;
  font-size: 14px;
}

.Route {
  width: 100%;
  display: flex;
  gap: 8px;
  * {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.DataRow {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  * {
    @include flex-center;
    width: 100%;
    flex-direction: column;
  }
  &:first-child {
    text-align: start;
  }
  &:last-child {
    text-align: end;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-end * {
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  justify-self: flex-end;
}

.align-start * {
  justify-content: flex-start;
  align-items: start;
  align-self: flex-start;
  justify-self: flex-start;
}

.Title {
  font-size: 14px;
  color: $secondary-color;
  &-Large {
    font-size: 22px;
    color: $primary-color;
  }
}

.Line {
  width: 100%;
  height: 2px;
  background-color: #2a2a2a;
  border-radius: 10px;
}

.Label {
  font-size: 12px;
  line-height: 12px;
  color: $secondary-color;
}

#origin,
#destination {
  font-size: 32px;
  line-height: 28px;
  color: $primary-color;
  cursor: pointer;
}

.Progress {
  border-radius: 10px;
  align-self: center;
  height: 3px;
  background-color: #5e5e5e;
  position: relative;
}

#progress {
  transition: 0.2s ease;
  height: 3px;
  width: 50%;
  background-color: #5aff75;
  border-radius: 10px;
}

#thumb {
  transition: 0.2s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Data {
  font-size: 24px;
  color: $primary-color;
}

.Route-Box {
  max-height: 60px;
  background-color: #141414;
  border-radius: 4px;
  padding: 8px;
}

#route {
  max-height: calc(60px - 16px);
  overflow: auto;
  color: $primary-color;
  font-size: 12px;
}

img.leaflet-marker-icon.active {
  filter: hue-rotate(120deg) saturate(100) !important;
}

img.leaflet-marker-icon.sq {
  filter: hue-rotate(-45deg) saturate(100);
}

.Loading {
  @include flex-center;
  position: absolute;
  z-index: 400;
  top: 1rem;
  left: 1rem;
  animation: loading 1s linear infinite;
  transition: 0.2s ease;
  pointer-events: none;
  &.Hidden {
    opacity: 0;
    visibility: hidden;
  }
}

button {
  background-color: #252525;
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  color: #cccccc;
  border-radius: 4px;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: lighten($color: #252525, $amount: 5);
  }
}

@import "./media";
